detect-nuget-inspector/.vs/
detect-nuget-inspector/detect-nuget-inspector/bin/
detect-nuget-inspector/detect-nuget-inspector/linux-build/
detect-nuget-inspector/detect-nuget-inspector/obj/
detect-nuget-inspector/detect-nuget-inspector-tests/bin/
detect-nuget-inspector/detect-nuget-inspector-tests/linux-build/
detect-nuget-inspector/detect-nuget-inspector-tests/obj/


.idea
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
